.App {
  text-align: center;
}

.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.user-inputs,
.message-form {
  margin: 20px auto;
}

.user-inputs *,
.message-form * {
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
